* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding-bottom: 5%;
  background-color: #0d3b66;
}
header .header {
  display: flex;
  flex-direction: column;
}
header nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 30px;
  height: 30px;
  background: url(../media/img/1/Muhim/logo\ oq.png) no-repeat center top/cover;
}
header .navigate {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .navigate .navigation {
  position: relative;
  color: white;
  font-size: 1.2rem;
  font-family: monospace;
}
header .navigate .navigation::before, header .navigate .navigation::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
}
header .navigate .navigation::before {
  left: 0%;
}
header .navigate .navigation::after {
  left: 50%;
}
header .navigate .navigation:hover::before {
  opacity: 1;
  left: 50%;
}
header .navigate .navigation:hover::after {
  opacity: 1;
  left: 0;
}
header .navigate .navigation:active::before, header .navigate .navigation:active::after {
  left: 25%;
}
header h1 {
  text-align: center;
  color: #ebebeb;
  font-size: 2.5rem;
  margin-top: 5%;
  transition: 0.2s;
}
header h1:hover {
  color: #fff;
}
header .text {
  max-width: 800px;
  color: #ebebeb;
  line-height: 135%;
  font-size: 18px;
  font-family: sans-serif;
  text-indent: 30px;
  text-align: center;
  margin: 2% auto 0;
}
header .text:hover {
  color: white;
}
header button {
  width: 150px;
  height: 40px;
  background-color: #f4d35e;
  border-radius: 10px;
  cursor: pointer;
  margin: 3% 13.5% 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
header button a {
  color: #fff;
}

section {
  width: 100%;
  padding-bottom: 5%;
  background-color: #0d3b66;
}
section .text {
  text-align: center;
  color: #ebebeb;
  font-size: 2rem;
  margin-bottom: 3%;
  transition: 0.2s;
}
section .vertical-tabs {
  display: flex;
}
section .vertical-tabs .tab {
  width: 50%;
}
section .vertical-tabs .tab button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background: none;
  color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
section .vertical-tabs .tab button:hover {
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}
section .vertical-tabs .tab button.active {
  color: #8dfd1b;
  font-size: 1rem;
  border-radius: 10px;
}
section .vertical-tabs .tabcontent {
  display: none;
  padding: 20px;
  width: 50%;
  line-height: 135%;
}
section .vertical-tabs .tabcontent.active {
  display: flex;
  gap: 50px;
  background-color: none;
  border-radius: 10px;
  border: 1px solid white;
}
section .vertical-tabs .tabcontent .meta__wave {
  color: #8dfd1b;
  line-height: 25px;
  padding: 0 5px;
  margin-bottom: 10px;
  position: relative;
}
section .vertical-tabs .tabcontent .meta__wave::before {
  content: "";
  display: block;
  width: 0.1%;
  height: 100%;
  background-color: #8dfd1b;
  position: absolute;
  top: 0;
  left: 0;
}
section .vertical-tabs .tabcontent .other__text {
  color: #fff;
  text-indent: 10%;
}
section h1 {
  font-size: 2.2rem;
  color: #fff;
  margin-top: 3%;
  position: relative;
  display: flex;
  justify-content: center;
}
section .books {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section .books .img {
  width: 250px;
  height: 335px;
  border: 3px solid #f4d35e;
  margin-top: 2%;
  background: url(../media/img/1/Muhim/lelementry.png) no-repeat center top/cover;
  transition: 0.4s;
}
section .books .img:hover {
  border-radius: 50px;
  transform: scale(1.05);
}

/* Responsive CSS */
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding: 0 15px;
  }
  header nav {
    height: 60px;
  }
  header .navigate {
    gap: 20px;
  }
  header .navigate .navigation {
    font-size: 1.2rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header .text {
    max-width: 360px;
    text-align: justify;
  }
  header button {
    width: 150px;
    height: 40px;
    margin: 3% 4% 0 auto;
  }
  header button a {
    font-size: 0.9rem;
    color: #0d3b66;
    font-weight: 600;
  }
  section {
    padding-bottom: 3%;
  }
  section .text {
    font-size: 1.8rem;
  }
  section .vertical-tabs {
    flex-direction: column;
    align-items: center;
  }
  section .vertical-tabs .tab {
    width: 100%;
  }
  section .vertical-tabs .tab button {
    text-align: center;
  }
  section .vertical-tabs .tabcontent {
    width: 100%;
  }
  section h1 {
    font-size: 1.6rem;
  }
  section .books {
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  section .books .img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding: 0 15px;
  }
  header nav {
    height: 60px;
  }
  header .navigate {
    gap: 20px;
  }
  header .navigate .navigation {
    font-size: 1.2rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header .text {
    max-width: 360px;
    text-align: justify;
  }
  header button {
    width: 150px;
    height: 40px;
    margin: 3% 4% 0 auto;
  }
  header button a {
    font-size: 0.9rem;
    color: #0d3b66;
    font-weight: 600;
  }
  section {
    padding-bottom: 3%;
  }
  section .text {
    font-size: 1.8rem;
  }
  section .vertical-tabs {
    flex-direction: column;
    align-items: center;
  }
  section .vertical-tabs .tab {
    width: 100%;
  }
  section .vertical-tabs .tab button {
    text-align: center;
  }
  section .vertical-tabs .tabcontent {
    width: 100%;
  }
  section h1 {
    font-size: 1.6rem;
  }
  section .books {
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  section .books .img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 7px;
  }
  header {
    padding-bottom: 3%;
  }
  header nav {
    height: 55px;
  }
  header .navigate {
    gap: 18px;
  }
  header .navigate .navigation {
    font-size: 1rem;
  }
  header h1 {
    font-size: 1.8rem;
    margin-top: 3%;
  }
  header .text {
    max-width: 350px;
    font-size: 14px;
    text-indent: 20px;
    text-align: justify;
  }
  header button {
    width: 100px;
    margin: 3% 5% 3% auto;
  }
  header button a {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */