* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

// Header
header {
  width: 100%;
  padding-bottom: 5%;
  background-color: #0d3b66;

  .header {
    display: flex;
    flex-direction: column;
  }

  nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 30px;
    height: 30px;
    background: url(../media/img/1/Muhim/logo\ oq.png) no-repeat center top / cover;
  }

  .navigate {
    display: flex;
    gap: 20px;
    align-items: center;

    .navigation {
      position: relative;
      color: white;
      font-size: 1.2rem;
      font-family: monospace;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #fff;
        bottom: 0;
        opacity: 0;
        transition: 0.3s;
      }

      &::before {
        left: 0%;
      }

      &::after {
        left: 50%;
      }

      &:hover::before {
        opacity: 1;
        left: 50%;
      }

      &:hover::after {
        opacity: 1;
        left: 0;
      }

      &:active::before,
      &:active::after {
        left: 25%;
      }
    }
  }

  h1 {
    text-align: center;
    color: #ebebeb;
    font-size: 2.5rem;
    margin-top: 5%;
    transition: 0.2s;

    &:hover {
      color: #fff;
    }
  }

  .text {
    max-width: 800px;
    color: #ebebeb;
    line-height: 135%;
    font-size: 18px;
    font-family: sans-serif;
    text-indent: 30px;
    text-align: center;
    margin: 2% auto 0;

    &:hover {
      color: white;
    }
  }

  button {
    width: 150px;
    height: 40px;
    background-color: #f4d35e;
    border-radius: 10px;
    cursor: pointer;
    margin: 3% 13.5% 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: #fff;
    }
  }
}

// Section
section {
  width: 100%;
  padding-bottom: 5%;
  background-color: #0d3b66;

  .text {
    text-align: center;
    color: #ebebeb;
    font-size: 2rem;
    margin-bottom: 3%;
    transition: 0.2s;
  }

  .vertical-tabs {
    display: flex;

    .tab {
      width: 50%;

      button {
        display: block;
        width: 100%;
        padding: 10px 20px;
        text-align: left;
        border: none;
        background: none;
        color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          border-bottom: 1px solid #ccc;
          border-radius: 10px;
        }

        &.active {
          color: #8dfd1b;
          font-size: 1rem;
          border-radius: 10px;
        }
      }
    }

    .tabcontent {
      display: none;
      padding: 20px;
      width: 50%;
      line-height: 135%;

      &.active {
        display: flex;
        gap: 50px;
        background-color: none;
        border-radius: 10px;
        border: 1px solid white;
      }

      .meta__wave {
        color: #8dfd1b;
        line-height: 25px;
        padding: 0 5px;
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 0.1%;
          height: 100%;
          background-color: #8dfd1b;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .other__text {
        color: #fff;
        text-indent: 10%;
      }
    }
  }

  h1 {
    font-size: 2.2rem;
    color: #fff;
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .books {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img {
      width: 250px;
      height: 335px;
      border: 3px solid #f4d35e;
      margin-top: 2%;

      background: url(../media/img/1/Muhim/lelementry.png) no-repeat center top / cover;
      transition: 0.4s;

      &:hover {
        border-radius: 50px;
        transform: scale(1.05);
      }
    }
  }
}

/* Responsive CSS */




@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding: 0 15px;
  }

  header {
    nav {
      height: 60px;
    }

    .navigate {
      gap: 10px;

      .navigation {
        font-size: 1rem;
      }
    }

    h1 {
      font-size: 2rem;
    }

    .text {
      max-width: 360px;
      text-align: justify;
    }

    button {
      width: 150px;
      height: 40px;
      margin: 3% 4% 0 auto;

      a {
        font-size: .9rem;
        color: #0d3b66;
        font-weight: 600;
      }
    }
  }

  section {
    padding-bottom: 3%;

    .text {
      font-size: 1.8rem;
    }

    .vertical-tabs {
      flex-direction: column;
      align-items: center;
      .tab {
        width: 100%;

        button {
          text-align: center;
        }
      }

      .tabcontent {
        width: 100%;
      }

    }
    
    h1 {
      font-size: 1.6rem;
    }
    .books {
      gap: 30px;
      flex-wrap: wrap;
      margin-top: 5%;

      .img {
        width: 250px;
        height: 335px;


      }
    }
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding: 0 15px;
  }

  header {
    nav {
      height: 60px;
    }

    .navigate {
      gap: 20px;

      .navigation {
        font-size: 1.2rem;
      }
    }

    h1 {
      font-size: 2rem;
    }

    .text {
      max-width: 360px;
      text-align: justify;
    }

    button {
      width: 150px;
      height: 40px;
      margin: 3% 4% 0 auto;

      a {
        font-size: .9rem;
        color: #0d3b66;
        font-weight: 600;
      }
    }
  }

  section {
    padding-bottom: 3%;

    .text {
      font-size: 1.8rem;
    }

    .vertical-tabs {
      flex-direction: column;
      align-items: center;
      .tab {
        width: 100%;

        button {
          text-align: center;
        }
      }

      .tabcontent {
        width: 100%;
      }

    }
    
    h1 {
      font-size: 1.6rem;
    }
    .books {
      gap: 30px;
      flex-wrap: wrap;
      margin-top: 5%;

      .img {
        width: 250px;
        height: 335px;


      }
    }
  }
}




@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 7px;
  }

  header {
    padding-bottom: 3%;

    nav {
      height: 55px;
    }

    .navigate {
      gap: 18px;

      .navigation {
        font-size: 1rem;
      }
    }

    h1 {
      font-size: 1.8rem;
      margin-top: 3%;
    }

    .text {
      max-width: 350px;
      font-size: 14px;
      text-indent: 20px;
      text-align: justify;
    }

    button {
      width: 100px;
      margin: 3% 5% 3% auto;

      a {
        font-size: 0.7rem;
      }
    }
  }

  
}





// @media (max-width: 992px) {
//   nav .navigate {
//     // display: none;
//     flex-direction: column;
//     gap: 10px;
//     background: #0d3b66;
//     position: absolute;
//     top: 70px;
//     right: 0;
//     width: 100%;
//   }

//   nav .navigate.active {
//     display: flex;
//   }

//   nav .burger {
//     display: flex;
//   }

//   .text {
//     font-size: 1.2rem;
//   }

//   .books .img {
//     width: 180px;
//     height: 250px;
//   }
// }

// @media (max-width: 768px) {
//   .text {
//     font-size: 1rem;
//   }

//   .books .img {
//     width: 150px;
//     height: 220px;
//   }

//   .vertical-tabs {
//     flex-direction: column;

//     .tab, .tabcontent {
//       width: 100%;
//     }
//   }
// }

// @media (max-width: 576px) {

//   .text {
//     font-size: 0.9rem;
//   }

//   .books {
//     flex-direction: column;

//     .img {
//       width: 120px;
//       height: 180px;
//     }
//   }
// }
